@import '../styles/fonts/web/static/pretendard.css';

body {
    margin: 0;
    padding: 0;
}

* {
    font-family: 'Pretendard', sans-serif;
}

*::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: rgba(96, 128, 125, 0.47);
}

#root {
    width: 100%;
    height: 100vh;
}

.marginDiv {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    overflow-y: hidden;
}

input::-webkit-inner-spin-button {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

#controls {
    position: absolute;
    bottom: 16px;
    left: 16px;
    max-width: unset;
    transform: unset;
    pointer-events: auto;
    z-index: 100;
}

.dot {
    display: none;
}

.dim {
    background: #fff;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    color: rgba(0, 0, 0, 0.8);
    display: block;
    font-family:
        Futura,
        Helvetica Neue,
        sans-serif;
    font-size: 1em;
    font-weight: 700;
    max-width: 128px;
    overflow-wrap: break-word;
    padding: 0.5em 1em;
    position: absolute;
    width: max-content;
    height: max-content;
    transform: translate3d(-50%, -50%, 0);
    pointer-events: none;
    --min-hotspot-opacity: 0;
}

@media only screen and (max-width: 800px) {
    .dim {
        font-size: 3vw;
    }
}

.dimensionLineContainer {
    pointer-events: none;
    display: block;
}

.dimensionLine {
    stroke: #16a5e6;
    stroke-width: 2;
    stroke-dasharray: 2;
}

.hide {
    display: none;
}

/* This keeps child nodes hidden while the element loads */
:not(:defined) > * {
    display: none;
}

.hotspot {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    box-sizing: border-box;
    pointer-events: none;
}

.hotspot[slot='hotspot-hand'] {
    --min-hotspot-opacity: 0;
    background-color: rgba(47, 107, 145, 0.73);
}

.hotspot[slot='hotspot-foot']:not([data-visible]) {
    background-color: transparent;
    border: 3px solid blue;
}

.annotation {
    background-color: #a5a5a5;
    position: absolute;
    transform: translate(10px, 10px);
    border-radius: 10px;
    padding: 10px;
    white-space: nowrap;
}

/*!* Range Track (트랙) 색상 변경 *!*/
/*input[type="range"]::-webkit-slider-runnable-track {*/
/*  @apply bg-range-track;*/
/*}*/

/*input[type="range"]::-moz-range-track {*/
/*  @apply bg-range-track;*/
/*}*/

/*input[type="range"]::-ms-track {*/
/*  @apply bg-range-track;*/
/*}*/

.loading-ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background: #dedede;
    border: 3px solid #dedede;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    font-size: 16px;
    color: #60807d;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #60807d;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.loading-ring:before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 150px;
    height: 150px;
    border: 3px solid transparent;
    border-top: 3px solid #60807d;
    border-right: 3px solid #60807d;
    border-radius: 50%;
    animation: animateC 2s linear infinite;
}

.loading-ring > span {
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: animate 2s linear infinite;
}

.loading-ring > span:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #60807d;
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px #60807d;
}

@keyframes animateC {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(405deg);
    }
}

/* HTML: <div class="loader"></div> */
.loader {
    height: 5px;
    background: linear-gradient(90deg, #a1d7d2 33%, #60807d 50%, #a1d7d2 66%)
        rgba(127, 196, 191, 0.85);
    background-size: 300% 100%;
    animation: l1 1s infinite linear;
}
@keyframes l1 {
    0% {
        background-position: right;
    }
}

.box-scene,
.box-scene:after,
.box-scene:before {
    box-sizing: border-box;
    transform-style: preserve-3d;
}
.box-scene *,
.box-scene *:after,
.box-scene *:before {
    box-sizing: border-box;
    transform-style: preserve-3d;
}
:root {
    --size: 120;
    --coefficient: 1px;
    --timeline: 2.6s;
    --delay: 0.65s;
    --rotation-y: -24;
    --rotation-x: 28;
    --color-one: #4e6564;
    --color-two: #60807d;
    --color-three: #a0d9d3;
}

.scene {
    position: relative;
    transform: translate3d(0, 0, 100vmin)
        rotateX(calc(var(--rotation-y, 0) * 1deg))
        rotateY(calc(var(--rotation-x, 0) * 1deg)) rotateX(0deg);
}

.box-scene {
    transform-origin: 50% 50%;
    animation: scale var(--timeline) var(--delay) infinite linear;
    margin-bottom: 4rem;
}

@keyframes scale {
    0%,
    10% {
        transform: scaleX(1) scaleY(1);
    }
    35%,
    100% {
        transform: scaleX(0.5) scaleY(0.5);
    }
}

.loading-shadow {
    width: calc(var(--size) * var(--coefficient));
    position: absolute;
    bottom: 0;
    aspect-ratio: 1;
    transform-origin: 50% 50%;
    background: hsl(210 80% 50% / 0.2);
    transform: rotateX(90deg)
        translate3d(
            0,
            0,
            calc((var(--size) * (var(--coefficient) * -0.5)) - 1px)
        )
        scale(0.96);
    animation:
        squish-squosh var(--timeline) var(--delay) infinite,
        fade var(--timeline) var(--delay) infinite;
    background: #2d2d2d;
}

.loader-cube {
    --depth: var(--size);
    --color: var(--color-one, #8338ec);
    width: calc(var(--depth) * var(--coefficient));
    aspect-ratio: 1;
    transform-origin: 50% 50%;
    animation: squish-squosh var(--timeline) var(--delay) infinite;
}

.spinner {
    animation: spin var(--timeline) var(--delay) infinite;
}

.jumper {
    animation: jump var(--timeline) var(--delay) infinite;
}

@keyframes squish-squosh {
    0%,
    50%,
    60% {
        scale: 1 1 1;
    }
    10%,
    35% {
        scale: 1.2 0.8 1.2;
    }
    25% {
        scale: 0.8 1.2 0.8;
    }
    70% {
        scale: 1 1 2;
    }
    80% {
        scale: 2 1 2;
    }
    90%,
    100% {
        scale: 2 2 2;
    }
}

@keyframes fade {
    0%,
    10%,
    40%,
    50%,
    60%,
    100% {
        opacity: 1;
    }
    25% {
        opacity: 0.5;
    }
}

@keyframes spin {
    0%,
    10% {
        rotate: 0deg;
    }
    30%,
    100% {
        rotate: -360deg;
    }
}
@keyframes jump {
    0%,
    10%,
    35%,
    50% {
        translate: 0 0;
    }
    25% {
        translate: 0 -150%;
    }
}

/* Cuboid boilerplate code */
.cuboid {
    width: 100%;
    height: 100%;
    position: relative;
}
.cuboid__side {
    background: var(--color);
    position: absolute;
}
.cuboid__side:nth-of-type(1) {
    --b: 1.1;
    height: calc(var(--depth, 20) * var(--coefficient));
    width: 100%;
    top: 0;
    transform: translate(0, -50%) rotateX(90deg);
}
.cuboid__side:nth-of-type(2) {
    --b: 0.9;
    --color: var(--color-three, #ff006e);
    height: 100%;
    width: calc(var(--depth, 20) * var(--coefficient));
    top: 50%;
    right: 0;
    transform: translate(50%, -50%) rotateY(90deg);
}
.cuboid__side:nth-of-type(3) {
    --b: 1;
    width: 100%;
    height: calc(var(--depth, 20) * var(--coefficient));
    bottom: 0;
    transform: translate(0%, 50%) rotateX(90deg);
}
.cuboid__side:nth-of-type(4) {
    --b: 1;
    --color: var(--color-three, #ff006e);
    height: 100%;
    width: calc(var(--depth, 20) * var(--coefficient));
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%) rotateY(90deg);
}
.cuboid__side:nth-of-type(5) {
    --b: 1;
    --color: var(--color-two, #3a86ef);
    height: 100%;
    width: 100%;
    transform: translate3d(
        0,
        0,
        calc(var(--depth, 20) * (var(--coefficient) * 0.5))
    );
    top: 0;
    left: 0;
}
.cuboid__side:nth-of-type(6) {
    --b: 1.2;
    height: 100%;
    width: 100%;
    transform: translate3d(
            0,
            0,
            calc(var(--depth, 20) * (var(--coefficient) * -0.5))
        )
        rotateY(180deg);
    top: 0;
    left: 0;
}

input[type='range'] {
    -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    box-shadow:
        1px 1px 1px #818181,
        0px 0px 1px #838383;
}
